@import url('https://fonts.googleapis.com/css?family=Bangers');

body {
    background-color: #222629; 
    font-family: 'Bangers', cursive;

}
h1, h2 {
    background-color: #EC1C24; 
    color: white; 
}