@import url('https://fonts.googleapis.com/css?family=Bangers');

body {
    background-color: #222629; 
    color: white; 
    font-family: 'Bangers', cursive;

}

img {
    max-width: 100%; 
    width: auto; 
    height: 400px; 
}

header {
    background-color: #EC1C24; 
    height: 75px; 
}

h1, h2 {
    color: white; 
}

p, span {
    color: white; 
    font-size: 12pt; 
}

#titleCard {
    margin-bottom: 0; 
    
}