/* v1.0 */
/* updated Nov 18 740pm est */

@import url('https://fonts.googleapis.com/css?family=Bangers');

body {
    background-color: #222629; 
    color: white; 
    font-family: 'Bangers', cursive;

}

header {
    background-color: #EC1C24; 
    margin-left: 10px; 
    margin-right: 10px; 
    display: relative; 
    animation-name: fadeinHeader; 
    animation-duration: 8s; 
}

h1, h2 {
    color: white; 
    font-size: 80px; 
    margin: 0 auto; 
    

}

p, span {
    color: white; 
    font-size: 20px; 
}

/*  animations  */

/* The animation code */
@keyframes fadein {
    from { color:#222629; }
    to { color: white; }  
}

@keyframes fadeinHeader {
    from {background-color: white;}
    to {background-color: #EC1C24; }
}

/* The element to apply the animation to */
.logo > h1 {
    /* margin: 0 auto;  */
    animation-name: fadein; 
    animation-duration: 8s;
    color: white; 
}


.logo h1 {
    display: inline; 
}

.logo span {
    float: right; 
    vertical-align: text-bottom; 
    bottom: 0px; 
    position: relative; 
    top: 60px; 
    color: #222629;
    font-size: 18pt; 
}



.carousel-item > img {
    height: 400px; 
}

.carousel-indicators > li.active {
    background-color: red;  

}

.carousel-indicators > li:not(.active){
    background-color: blue; 
    opacity: 0.20; 
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered > h2 {
    color: #222629; 
    text-align: center; 
}

#carouselItem2Overlay > h2 {
    color: white; 
}

#carouselItem3Overlay > h2 {
    color: white; 
}

#formUploadControl > input {
    font-size: 34px; 
}

#formUploadControl > span {
    font-size: 24px; 
}





